<% if object.errors.any? %>
  <section class="alert alert-danger">
    <header>
      <h4>
        Oops! The <%= object.class.name.humanize.downcase %> could not be saved.
      </h4>
      <hr>
      <h5>
        Please correct the following <%= pluralize(object.errors.count, "error") %>:
      </h5>
    </header>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
